@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
    width: 68%;
    border: 1px solid blue;
    &-job {
        height: 7.125rem;
        border: 1px solid blue;
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 4px;

        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        &-logo {
            width: 5.625rem;
            height: 5.625rem;
            float: left;
            border: 1px solid blue;

            margin-left: 0.75rem;
            margin-right: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > img {
                width: 100%;
            }
        }
        &-middle {
            font-family: Roboto, sans-serif;
            border: 1px solid blue;
            height: 5.625rem;
            & > span:nth-child(1) {
                display: block;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                color: #334680;
            }
            & > span:nth-child(2) {
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #334680;
            }
            & > button {
                width: 3.938rem;
                height: 1.625rem;
                border: 1px solid #334680;
                box-sizing: border-box;
                border-radius: 4px;

                background-color: #ffffff;
            }
        }
    }
}
