.app {
    background-color: #f6f7fb;
    padding-top: 2rem;
    padding-bottom: 12.188rem;
    &-flex {
        // border: 1px solid blue;
        width: 83%;
        margin: 0 auto;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 860px) {
    .app {
        &-flex {
            width: 90%;
            display: block;
        }
    }
}
